# Ignore Apple files
.DS_Store

# Ignore the release zips
*.zip

# Ignore node modules
node_modules/

# Hugo dev-site output directories
/dev/data
/dev/public
/dev/resources
/dev/.hugo_build.lock
.public/

# ignore Platwright test files
/test-results
/playwright-report