<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#1a1816" />
{{- $siteTitle := .Site.Title -}}
{{- if .IsHome -}}
<title>{{ $siteTitle }}{{- if isset .Site.Params "subtitle" -}} - {{ .Site.Params.Subtitle }}{{- end -}}</title>
{{- else -}}
<title>{{ .Title }} - {{ $siteTitle }}</title>
{{- end -}}
<meta name="description" content="{{- if .IsHome -}}
  {{ .Site.Params.description }}
{{- else if and (isset .Params "description") (ne (trim .Params.description " ") "") -}}
  {{ .Params.description }}
{{- else -}}
  {{ .Summary | plainify | truncate 160 }}
{{- end -}}">
{{ with .OutputFormats.Get "rss" -}}
{{ printf `
<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{- end -}}
{{ with site.GetPage "section" "notes" -}}
{{- with .OutputFormats.Get "rss" -}}
{{ printf `
<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink (printf "%s - Personal Notes" $.Site.Title) | safeHTML }}
{{- end -}}
{{- end -}}
<link rel="canonical" href="{{ .Permalink }}" />
{{ $options := (dict "targetPath" "css/main.css" "outputStyle" "compressed") }}
{{ $style := resources.Get "scss/main.scss" | toCSS $options | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" />
{{- $codePattern := "(?m)(^|\\n)(```|~~~)|\\{\\{[%<]\\s*highlight" -}}
{{- $needsChroma := newScratch -}}
{{- $needsChroma.Set "value" false -}}
{{- if not .IsHome -}}
{{- $pageStyle := resources.Get "scss/page.scss" | toCSS $options | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $pageStyle.Permalink }}" integrity="{{ $pageStyle.Data.Integrity }}" />
{{- if .IsPage -}}
{{- $needsChroma.Set "value" (gt (len (findRE $codePattern .RawContent 1)) 0) -}}
{{- else if and (eq .Kind "section") (eq .Section "notes") -}}
{{- range .Paginator.Pages -}}
{{- if gt (len (findRE $codePattern .RawContent 1)) 0 -}}
{{- $needsChroma.Set "value" true -}}
{{- end -}}
{{- end -}}
{{- else -}}
{{- $needsChroma.Set "value" (gt (len (findRE $codePattern .RawContent 1)) 0) -}}
{{- end -}}
{{- if $needsChroma.Get "value" -}}
{{- $highlightStyle := resources.Get "scss/gruvbox.scss" | toCSS $options | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $highlightStyle.Permalink }}" integrity="{{ $highlightStyle.Data.Integrity }}" />
{{- end -}}
{{- end -}}
{{- if eq .Type "library" -}}
{{- $libraryStyle := resources.Get "scss/library.scss" | toCSS $options | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $libraryStyle.Permalink }}" integrity="{{ $libraryStyle.Data.Integrity }}" />
{{- end -}}
<link rel="icon" type="image/x-icon" href="{{ "/favicon.ico" | absURL }}" />
{{- if isset .Site.Params "mobilewebapptitle" -}}
<meta name="apple-mobile-web-app-title" content="{{ .Site.Params.MobileWebAppTitle }}" />
{{- end -}}
{{- if isset .Site.Params "fediversecreator" -}}
<meta name="fediverse:creator" content="{{ .Site.Params.FediverseCreator }}" />
{{- end -}}
{{- if .Site.Params.OpenGraph -}}
{{- partial "opengraph.html" . -}}
{{- end -}}
{{- if .Site.Params.TwitterCards -}}
{{- partial "twitter_cards.html" . -}}
{{- end -}}
{{- if .Site.Params.jsonld -}}
{{- partial "jsonld.html" . -}}
{{- end -}}
